* {
  box-sizing: border-box;
}

body.dark {
  --clr1: #c3c3c3;
  --bg1: #333;
  --bg2: #d55;
  --bsClr: #c5b7b76c;
  --SC-clr: lightskyblue;
  background: var(--bg1);
  color: var(--clr1);
}
body {
  --bg1: #c3c3c3;
  --clr1: #333;
  --bg2: #d55;
  --bsClr: #c5b7b76c;
  --SC-clr: lightskyblue;
  background: var(--bg1);
  color: var(--clr);
}
html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

button {
  transition: 0.2s ease-in-out;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--clr1);
  border: 1px solid var(--clr1);
  margin: 0 1em;
  padding: 0 2em;
  border-radius: 0.8em;
}
button:hover {
  background: var(--clr1);
  color: var(--bg1);
}
header {
  padding: 1em;
}
.header-container.flex {
  justify-content: space-between;
  padding: 1em;
  font-size: 1.5rem;
}
.header-container > * {
  flex: 1;
  justify-content: end;
}

.level-container {
  justify-content: start;
}

.info-container > * {
  margin-inline-end: 1em;
}
table {
  margin: 0 auto;
  width: 100%;
  height: 70vh;
}

tr,
td {
  height: 5%;
  width: 5%;
}

td span {
  color: var(--bg1);
}

.isShown {
  background: var(--clr1);
}
.mark {
  box-shadow: inset 0px 0px 20px 3px;
}
.mine.isShown {
  background: var(--bg2);
}

td.cell {
  text-align: center;
  box-shadow: inset 0px 0px 3px 2px;
  transition: all 0.3s ease-in-out;
}

.dialog {
  border: none;
  box-shadow: 1px 1px 13px 100vh var(--bsClr);
  transition: 0.2s ease-in-out;
}

.dialog button {
  background: none;
  border: 1px solid #c5b7b7;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}
.dialog button:hover {
  background: var(--bsClr);
  color: var(--bg1);
}
dialog[open='true'] {
  transition: all 0.3s ease-in-out;
}
.safe-click {
  background: var(--SC-clr);
}

.user-msg {
  transition: all 0.3s ease-in-out;
  transform: translateX(200%);
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  z-index: 1000;
  background: var(--bg1);
  color: var(--clr1);
  padding: 0 2rem;
  border-radius: 1em;
  opacity: 0;
}

.show {
  transform: translateX(0);
  opacity: 1;
}
.mode {
  transition: 0.7s ease-in-out;
  cursor: pointer;
  font-size: 2em;
  position: fixed;
  right: 2rem;
  top: 2rem;
}

.flex {
  display: flex;
}
.main-layout {
  margin: 0 auto;
  width: 75vw;
}

.actions-container {
  padding: 1rem 0;
}
.actions-container button {
  padding: 1em 1.2em;
}
