* {
  box-sizing: border-box;
}

table {
  margin: 0 auto;
  width: 75vw;
  height: 75vh;
}

tr,
td {
  height: 5%;
  width: 5%;
}

.isShown {
  background: #c3c3c3;
}
.mark {
  box-shadow: inset 0px 0px 20px 3px;
}
.mine.isShown {
  background: #d55;
}

td.cell {
  text-align: center;
  box-shadow: inset 0px 0px 3px 2px;
  transition: all 0.3s ease-in-out;
}
